<p-toolbar class="main-toolbar">
  <div class="p-toolbar-group-start div-1">
    <img src="assets/icons/ang.png" alt="logo" class="logo" />
  </div>
  <div class="p-toolbar-group-center div-2">
    {{ title }}
  </div>
  <div class="p-toolbar-group-center div-3">
    <button
      (click)="goToCart()"
      class="p-button p-button-text cart-button"
      style="position: relative"
    >
      <i class="pi pi-shopping-cart"></i>
      <span *ngIf="getCartQuantity() > 0" class="cart-badge">
        {{ getCartQuantity() }}
      </span>
    </button>
  </div>
</p-toolbar>
<p-splitter [panelSizes]="[20, 80]" [style]="{ height: 'calc(100vh - 100px)' }">
  <ng-template pTemplate>
    <div class="w-full">
      <app-panel-menu />
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="w-full app-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</p-splitter>

<!-- Dialog pour voir le panier -->
<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '50vw' }"
  header="Les produits du panier"
>
  <app-cart />
</p-dialog>
