<div class="background-container">
  <div class="background-overlay"></div>
  <!-- Superposition semi-transparente -->
  <div class="content-container">
    <p-card header="Bienvenue" class="header-app">
      <h2 class="app-title">Bienvenue sur {{ appTitle }} !</h2>
      <p>Explorez notre collection de produits et services exclusifs.</p>
      <p-button
        label="Voir les produits"
        icon="pi pi-shopping-cart"
        class="p-button-rounded p-button-primary mt-3"
        routerLink="/products"
      ></p-button>
    </p-card>
  </div>
</div>
